USE [master]
GO
/****** Object:  Database [QL_QTNPP_PEPSI]    Script Date: 27/11/2022 10:18:29 SA ******/
CREATE DATABASE [QL_QTNPP_PEPSI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_QTNPP_PEPSI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QL_QTNPP_PEPSI.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_QTNPP_PEPSI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QL_QTNPP_PEPSI_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_QTNPP_PEPSI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_QTNPP_PEPSI]
GO
/****** Object:  Table [dbo].[BACLUONG]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BACLUONG](
	[MABAC] [varchar](10) NOT NULL,
	[TENBAC] [nvarchar](500) NOT NULL,
	[HESO] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BANGLUONG]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGLUONG](
	[MABANGLUONG] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[LUONGTHUCTE] [decimal](18, 0) NOT NULL,
	[NGAYAPDUNG] [date] NOT NULL,
	[GHICHUBL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABANGLUONG] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[MANV] [varchar](10) NOT NULL,
	[MACHAMCONG] [varchar](10) NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[SONGAYLAMVIEC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHAMCONG] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETBACLUONG]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETBACLUONG](
	[MABAC] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[TUNGAY] [date] NOT NULL,
	[DENNGAY] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAC] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHOADONBAN]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADONBAN](
	[MAHDB] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONGBAN] [int] NOT NULL,
	[THANHTIENBAN] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDB] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPN] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONGNHAP] [int] NOT NULL,
	[DVT] [nvarchar](500) NOT NULL,
	[THANHTIEN] [decimal](18, 0) NOT NULL,
	[DONGIABAN] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[MAPX] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONGNHAP] [int] NOT NULL,
	[DVT] [nvarchar](500) NOT NULL,
	[THANHTIEN] [decimal](18, 0) NOT NULL,
	[DONGIABAN] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTTB_CTTL]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTTB_CTTL](
	[MACT] [varchar](10) NOT NULL,
	[TENCT] [nvarchar](210) NOT NULL,
	[SOSUAT] [int] NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[NGAYBD] [date] NOT NULL,
	[NGAYKT] [date] NULL,
	[DIEMDAT] [decimal](18, 0) NULL,
	[HINHANH] [nvarchar](210) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHMUCMANHINH]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHMUCMANHINH](
	[MADMMH] [varchar](10) NOT NULL,
	[TENMANHINH] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADMMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DK_CTTB_CTTL]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DK_CTTB_CTTL](
	[MAKH] [varchar](10) NOT NULL,
	[MACT] [varchar](10) NOT NULL,
	[NGAYDK] [date] NULL,
	[DIEMTL_THUC] [float] NULL,
	[TRANGTHAI] [nvarchar](210) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANGSANXUAT]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANGSANXUAT](
	[MAHSX] [varchar](10) NOT NULL,
	[TENHSX] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[MAHDB] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[NGAYLAPBAN] [date] NOT NULL,
	[VAT] [float] NOT NULL,
	[TONGTIENBAN] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[MAQUANHUYEN] [varchar](10) NULL,
	[HOTENKH] [nvarchar](500) NULL,
	[LOAIKHACHHANG] [varchar](10) NOT NULL,
	[NGAYSINHKH] [date] NULL,
	[GIOITINHKH] [nvarchar](10) NOT NULL,
	[DIACHIKH] [nvarchar](500) NULL,
	[SODIENTHOAIKH] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[LOAIKHACHHANG] [varchar](10) NOT NULL,
	[TENLOAIKH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LOAIKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAISANPHAM] [varchar](10) NOT NULL,
	[MAPAL] [varchar](10) NOT NULL,
	[TENLOAISANPHAM] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAISANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[MAQUANHUYEN] [varchar](10) NULL,
	[TENNHACUNGCAP] [nvarchar](500) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[SDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[MANHOMNV] [varchar](10) NOT NULL,
	[TENDANGNHAP] [nvarchar](500) NOT NULL,
	[MATKHAU] [nvarchar](500) NOT NULL,
	[HOTENNV] [nvarchar](500) NOT NULL,
	[GIOITINHNV] [nvarchar](50) NULL,
	[NGAYSINHNV] [datetime] NULL,
	[DIACHINV] [nvarchar](500) NULL,
	[SODIENTHOAINV] [varchar](15) NULL,
	[CHUNGMINHTHU] [varchar](10) NULL,
	[NGAYBATDAULAMVIEC] [datetime] NOT NULL,
	[NGAYKETTHUCLAMVIEC] [datetime] NULL,
	[TRINHDOHOCVAN] [nvarchar](500) NOT NULL,
	[MUCLUONGCOBAN] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMNHANVIEN]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMNHANVIEN](
	[MANHOMNV] [varchar](10) NOT NULL,
	[TENNHOM] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOMNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAL]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAL](
	[MAPAL] [varchar](10) NOT NULL,
	[TENPAL] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MANHOMNV] [varchar](10) NOT NULL,
	[MADMMH] [varchar](10) NOT NULL,
	[COQUYEN] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOMNV] ASC,
	[MADMMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MAPN] [varchar](10) NOT NULL,
	[MANCC] [varchar](10) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[GHICHUN] [nvarchar](500) NULL,
	[TRANGTHAI] [bit] NULL,
	[TONGTIEN] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUXUATHANG]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUXUATHANG](
	[MAPX] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[NGAYXUAT] [date] NOT NULL,
	[GHICHUX] [nvarchar](500) NULL,
	[TRANGTHAI] [bit] NULL,
	[TONGTIEN] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUANHUYEN]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANHUYEN](
	[MAQUANHUYEN] [varchar](10) NOT NULL,
	[MATINHTHANH] [varchar](10) NULL,
	[TENQUANHUYEN] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUANHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[MALOAISANPHAM] [varchar](10) NOT NULL,
	[MAHSX] [varchar](10) NOT NULL,
	[MAXUATXU] [varchar](10) NOT NULL,
	[TENSANPHAM] [nvarchar](500) NOT NULL,
	[HINHSP] [nvarchar](500) NULL,
	[THANHPHAN] [nvarchar](500) NULL,
	[CONGDUNG] [nvarchar](500) NULL,
	[BAOQUAN] [nvarchar](500) NULL,
	[GHICHUSP] [nvarchar](500) NULL,
	[DVT] [nvarchar](500) NOT NULL,
	[SOLOSP] [int] NOT NULL,
	[NGAYSANXUAT] [date] NOT NULL,
	[HANSUDUNG] [date] NOT NULL,
	[DONGIASP] [decimal](18, 0) NULL,
	[SOLUONGTON] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINHTHANH]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINHTHANH](
	[MATINHTHANH] [varchar](10) NOT NULL,
	[TENTINHTHANH] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATINHTHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XUATXU]    Script Date: 27/11/2022 10:18:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XUATXU](
	[MAXUATXU] [varchar](10) NOT NULL,
	[TENXUATXU] [nvarchar](500) NULL,
	[LOAIXUATXU] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAXUATXU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BANGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_BL_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BANGLUONG] CHECK CONSTRAINT [FK_BL_NV]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CC_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CC_NV]
GO
ALTER TABLE [dbo].[CHITIETBACLUONG]  WITH CHECK ADD  CONSTRAINT [FK_CTBL_BL] FOREIGN KEY([MABAC])
REFERENCES [dbo].[BACLUONG] ([MABAC])
GO
ALTER TABLE [dbo].[CHITIETBACLUONG] CHECK CONSTRAINT [FK_CTBL_BL]
GO
ALTER TABLE [dbo].[CHITIETBACLUONG]  WITH CHECK ADD  CONSTRAINT [FK_CTBL_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHITIETBACLUONG] CHECK CONSTRAINT [FK_CTBL_NV]
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_CTHDB_HDB] FOREIGN KEY([MAHDB])
REFERENCES [dbo].[HOADONBAN] ([MAHDB])
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] CHECK CONSTRAINT [FK_CTHDB_HDB]
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_CTHDB_T] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] CHECK CONSTRAINT [FK_CTHDB_T]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPNT_PN] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPNT_PN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPNT_T] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPNT_T]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT_PX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUATHANG] ([MAPX])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT_PX]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT_SP]
GO
ALTER TABLE [dbo].[CTTB_CTTL]  WITH CHECK ADD  CONSTRAINT [FK_CTTB_CTTL_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTTB_CTTL] CHECK CONSTRAINT [FK_CTTB_CTTL_SP]
GO
ALTER TABLE [dbo].[DK_CTTB_CTTL]  WITH CHECK ADD  CONSTRAINT [FK_CTTB_CTTL_DK] FOREIGN KEY([MACT])
REFERENCES [dbo].[CTTB_CTTL] ([MACT])
GO
ALTER TABLE [dbo].[DK_CTTB_CTTL] CHECK CONSTRAINT [FK_CTTB_CTTL_DK]
GO
ALTER TABLE [dbo].[DK_CTTB_CTTL]  WITH CHECK ADD  CONSTRAINT [FK_CTTB_CTTL_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DK_CTTB_CTTL] CHECK CONSTRAINT [FK_CTTB_CTTL_KH]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_HDB_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HDB_KH]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_HDB_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HDB_NV]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KH_LOAIKH] FOREIGN KEY([LOAIKHACHHANG])
REFERENCES [dbo].[LOAIKHACHHANG] ([LOAIKHACHHANG])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KH_LOAIKH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KH_QH] FOREIGN KEY([MAQUANHUYEN])
REFERENCES [dbo].[QUANHUYEN] ([MAQUANHUYEN])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KH_QH]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_LT_KT] FOREIGN KEY([MAPAL])
REFERENCES [dbo].[PAL] ([MAPAL])
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [FK_LT_KT]
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_NCC_QH] FOREIGN KEY([MAQUANHUYEN])
REFERENCES [dbo].[QUANHUYEN] ([MAQUANHUYEN])
GO
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [FK_NCC_QH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_PQ] FOREIGN KEY([MANHOMNV])
REFERENCES [dbo].[NHOMNHANVIEN] ([MANHOMNV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_PQ]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PQ_NNV] FOREIGN KEY([MANHOMNV])
REFERENCES [dbo].[NHOMNHANVIEN] ([MANHOMNV])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PQ_NNV]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_DMMH] FOREIGN KEY([MADMMH])
REFERENCES [dbo].[DANHMUCMANHINH] ([MADMMH])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_QL_DMMH]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_CTPN_NCC]
GO
ALTER TABLE [dbo].[PHIEUXUATHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUXUATHANG] CHECK CONSTRAINT [FK_PHIEUXUAT_KH]
GO
ALTER TABLE [dbo].[QUANHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QH_TT] FOREIGN KEY([MATINHTHANH])
REFERENCES [dbo].[TINHTHANH] ([MATINHTHANH])
GO
ALTER TABLE [dbo].[QUANHUYEN] CHECK CONSTRAINT [FK_QH_TT]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_T_HSX] FOREIGN KEY([MAHSX])
REFERENCES [dbo].[HANGSANXUAT] ([MAHSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_T_HSX]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_T_LT] FOREIGN KEY([MALOAISANPHAM])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAISANPHAM])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_T_LT]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_T_XX] FOREIGN KEY([MAXUATXU])
REFERENCES [dbo].[XUATXU] ([MAXUATXU])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_T_XX]
GO
USE [master]
GO
